parser.out
parsetab.py
parsetab.
.parsetab.py
.parsetab

venv/
venv

.vscode/
.vscode
.idea/
.idea
__pycache__
__pycache__/

transcricao.txt

transcricao_cod_inter
transcricao_cod_inter.txt
transcricao_luan.txt
transcricao_mips.txt
json*

trash.py
